@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata');
:root {
  --duration:0.6s;
  --color:black;
  --bg:white;
  --bs:rgb(36, 36, 36);
  --delay: 0.5s;
  --fill:#929292;
}
html, body {
  transition:var(--duration) ease;
}
@keyframes focus {
  0% {
    transform:scale(1)
  }50% {transform:scale(1.05)}
  100%{transform:scale(1)}
}
html {scroll-behavior: smooth;}
[id] {
  padding:1rem;
}
[id]:target, nav.links {
  animation:focus var(--duration) forwards var(--delay);
  box-shadow:0 0 5px 0 var(--bs) ;
}
body {background:url('static/icons/git.svg') fixed center, url('static/icons/github.svg') fixed center;}
*:not(code>*) {
  font-family:Montserrat, "Segoe UI", sans-serif;
}
img[src*="repository-config.jpg"] {
  max-width: 100%;
  height:auto;
} 
main.content {max-width:900px;margin:0 auto 3rem;padding:1rem;background-color:var(--bg);box-shadow:0 0 5px 0 var(--bs);}
main.content > * {background-color: var(--bg);}
nav.links > a {counter-increment:chapter;display:block;text-decoration: none;color:var(--color);padding:0.5rem;position:relative;z-index:2;}
nav.links > a::before {content: counter(chapter)". ";}
nav.links > a::after {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:0;
  border-top:1px solid var(--fill);
  background:var(--fill);
  z-index:-2;
  transition:height calc(var(--duration) - 0.2s) ease;
}
nav.links > a:hover::after {
  height:100%;
  border-top:none;
}
nav.links {
  counter-reset:chapter;
  width: 300px;min-height: max-content;
  margin:0.5rem 1rem;
  border:1px solid var(--fill);
  padding:0.5rem;
  position:fixed;
  left:0;
}
div[class*=cmds] {
  margin:0.5rem 0;
  height:max-content;
}
code {
  font-family:Inconsolata;
  font-weight:600;
  background:#ddd;
  padding:2px 5px;
  border-radius:0.3rem;
  box-shadow:1px 2px 0 0 #aaa;
  margin:0 0.2rem;
}
@media screen and (max-width:1626px) {
  nav.links {position:relative;}
}