@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata');

*:not(code>*) {
  font-family:Montserrat, "Segoe UI", sans-serif;
}
main.content {max-width:900px;margin:auto;}
nav.links > * {counter-increment:chapter;display:block;}
nav.links > a::before {content: counter(chapter)". ";}
nav.links {
  counter-reset:chapter;
  float:left;
  width: 300px;min-height: max-content;
  border:1px solid black;
  margin:0.5rem 1rem;
}
div.basic-cmds {
  margin:1rem 0;
  height:max-content;
}
code {
  font-family:Inconsolata;
  font-weight:600;
  background:#ddd;
  padding:5px;
  border-radius:0.3rem;
  box-shadow:1px 2px 0 0 #aaa;
}